@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#body_text {
    padding: 2%;
}

header {
    background-color: #0a0a0a;
}

li, a, button, .btnSubmit {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #f1f1f1;
    text-decoration: none;
}

.nav__links {
    list-style: none;
}

.logo {
    height: 40px;
    cursor: pointer;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px
}

.nav__links li a {
    transition: all 0.4s ease 0s;
}

.nav__links li a:hover {
    color: #d32f2f;
}

button, .btnSubmit {
    padding: 9px 25px;
    background-color: rgba(211, 47, 47, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

button:hover, .btnSubmit:hover {
    background-color: rgba(211, 47, 47, 0.6);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.login_register_navbar .register_navbar {
    padding-left: 20px;
    transition: all 0.4s ease 0s;
}

.login_register_navbar .register_navbar:hover {
    color: #d32f2f;
}

.jumbotron a {
    color: #d32f2f;
}
/* Prévisualisation d'un tournoi */

p{
    border: 2px solid rebeccapurple;
    padding: .5em;
}

/* Affichage tableau */

.paramtournoi table {
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}

.paramtournoi td /* Toutes les cellules des tableaux... */
{
    border: 10px solid pink; /* auront une bordure de 1px */
}

/*Footer*/

#footer {
    padding: 50px 0 30px;
}

hr {
    width: 100%;
    border: 0;
    border-top: 1px solid #0a0a0a;
}

.footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left-col {
    flex-basis: 50%;
    margin-top: 50px;
}

.footer-right-col {
    flex-basis: 30%;
    margin-top: 50px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-title h4 {
    color: #d32f2f;
    margin-bottom: 20px;
}

.link-title small {
    color: #0a0a0a;
    font-size: 13px;
}

.footer-logo {
    margin-top: 5px;
    height: 60px;
    cursor: pointer;
}

#about-section h1 {
    margin-left: 50px;
}

#about-section p {
    margin: 20px 80px;
    text-align: justify;
}

.tabulation {
    padding-left: 40px;
}

.crt-tournament-box h1 {
    margin-bottom: 20px;
}

.crt-tournament-box input[type=text], .crt-tournament-box input[type=radio], .crt-tournament-box input[type=datetime-local], .crt-tournament-box select {
    margin: 10px 0;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.history-tournaments {
    padding-top: 20px;
}
.history-tournaments-list {
    padding: 20px 0 20px 20px;
}

.history-tournaments-list h3 {
    padding-top: 15px;
}
.history-tournaments-list ul {
    padding-left: 20px;
}
.history-tournaments-list li {
    color: #0a0a0a;
    list-style: none;
}